# ids dataset
Gather project IDs for vectorization task.

### import dependencies

In [1]:
!pip install -q --no-cache-dir mysqlclient

import os
import pandas as pd
import numpy as np
import sqlalchemy as db

### settings & configuration

In [16]:
DB_HOST = 'rdb0.scratch.mit.edu'
DB_PORT = 3306
DB_USER = 'haproxy_rr'
DB_PASS = 'SHlv8t1Ta1g0wjfuBbOZ'
DB_BASE = 'scratchr2_final'
DB_CONN = f'mysql+mysqldb://{DB_USER}:{DB_PASS}@{DB_HOST}:{DB_PORT}/{DB_BASE}'

In [2]:
# Sample size 
SAMPLE_SIZE = 800000

# Dataset paths
DATASET = './dataset'
IDS_TARGET = os.path.join(DATASET, 'project_ids.csv')

### connect to database

In [18]:
engine = db.create_engine(DB_CONN)
connection = engine.connect()

In [19]:
def query(q, **kwargs):
    q = db.text(q)
    return pd.read_sql(q, connection, coerce_float=False, params=kwargs)

----

## get random sample of project ids
Get a random sample of *shared* project IDs.

In [20]:
def get_projects(limit):
    q = f'SELECT id FROM projects_project WHERE isPublished = TRUE ORDER BY RAND() LIMIT :limit'
    return query(q, limit=limit)

df = get_projects(SAMPLE_SIZE)

In [21]:
df = df.set_index('id')

----

### inspect

In [22]:
len(df)

800000

In [23]:
df.sample(n=5)

Empty DataFrame
Columns: []
Index: [186913305, 69438792, 231079247, 291853855, 334443406]

### export

In [ ]:
dataset = os.path.abspath(IDS_TARGET)
df.to_csv(dataset)